@attribute [Route(Paths.BranchCreate)]
<h3>BranchCreatePage</h3>

<FixedButton OnClick="() => NavigationService.GoToBranchList(ProjectId, AnnexId)"/>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    
    [Parameter]
    public Guid AnnexId { get; set; }
}