@attribute [Route(Paths.BranchManage)]
<h3>BranchManagePage</h3>

<FixedButton OnClick="() => NavigationService.GoToBranch(ProjectId, AnnexId, BranchId)"/>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    
    [Parameter]
    public Guid AnnexId { get; set; }
    
    [Parameter]
    public Guid BranchId { get; set; }
}