@attribute [Route(Paths.VersionCreate)]
<h3>VersionCreatePage</h3>

<FixedButton OnClick="() => NavigationService.GoToVersionList(ProjectId, AnnexId, BranchId)"/>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    
    [Parameter]
    public Guid AnnexId { get; set; }
    
    [Parameter]
    public Guid BranchId { get; set; }
}