@attribute [Route(Paths.VersionManage)]
<h3>VersionManagePage</h3>

<FixedButton OnClick="() => NavigationService.GoToVersion(ProjectId, AnnexId, BranchId, VersionId)"/>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    
    [Parameter]
    public Guid AnnexId { get; set; }
    
    [Parameter]
    public Guid BranchId { get; set; }
    
    [Parameter]
    public Guid VersionId { get; set; }
}