@attribute [Route(Paths.VersionList)]
<h3>VersionListPage</h3>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    
    [Parameter]
    public Guid AnnexId { get; set; }
    
    [Parameter]
    public Guid BranchId { get; set; }
}