@attribute [Route(Paths.Version)]
<h3>VersionPage</h3>

<FixedButton OnClick="() => NavigationService.GoToVersionList(ProjectId, AnnexId, BranchId)"/>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    
    [Parameter]
    public Guid AnnexId { get; set; }
    
    [Parameter]
    public Guid BranchId { get; set; }
    
    [Parameter]
    public Guid VersionId { get; set; }
}